[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-uploads = "*"
pillow = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
